<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>About this app:
	<ul>
		<li>Flavorites: an app like del.icio.us</li>
		<li>Created by Matt Case</li>
		<li>Ruby on Rails, Madison College</li>
		<li>Fall semester of 2012</li>
	</ul>
</p>


